* {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.logo-section img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 0.1px solid #000;
}

.logo-section span {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
}

.search-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.search-container input {
    width: 40%;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
}

.recipe-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45px;
}

.recipe-section h2 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
}

.recipe-display-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.recipe-card {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.recipe-card img {
    width: 100%;
    object-fit: cover;
}

.recipe-card span {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
    padding-left: 5px;
}

.recipe-card a {
    background-color: #FA8500;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    color: #fff;
    max-width: 100%;
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}